body {
    background-color: rgb(227, 250, 185);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
}

.entrada,
.salida {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.entrada{
    border-right: 2px dashed #883
}
form {
    display:flex;
    flex-direction: column;
}
input {
    width: 100px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
label {
    display: block;
    
}
form >* {
    margin-bottom: 10px;
}

.button-style {
    background-color: rgb(91, 91, 236);
    color: white;
    padding: 10px;
    border: double;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    width: fit-content;
}

form > div {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px 2px rgb(148 185 34);
  padding: 0.5rem;
  gap: 0.5rem;
  width: 50%;
 
}

.salida input[type="text"] {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  text-transform: uppercase;
}

.table-container {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;  
    border : 2px solid rgb(77, 78, 74); 
}

.table-container th {
   background-color: rgb(186 193 174);  
   border: 2px solid rgb(77, 78, 74); 
   padding-left: 5px;                      
}

.table-container td {
    border: 2px solid rgb(77, 78, 74);
    text-align: center;
    padding: 8px;
}